.mast {
	color: #F00;
}
body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #69F;
	margin: 5px; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 5px;
	color: #000000;
}
.checkbox {
	text-align: center;
}
